# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Test / coverage
.coverage
htmlcov/

# Build artifacts
dist/
build/

.lesshst
.cache/